<%- include('../partials/adminheadder') %>
    <style>
        .rounded-image-preview {
            max-width: 200px;
            /* Set your maximum width here */
            max-height: 200px;
            /* Set your maximum height here */
            overflow: hidden;
            /* Hide any overflow beyond the specified dimensions */
        }

        .rounded-image-preview img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Maintain aspect ratio while covering the container */
        }
    </style>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card" style="color: white">
                    <div class="card-body">
                        <h4 class="card-title">Edit Banner</h4>
                        <p id="error-message" style="color: red"></p>
                        <form class="" id="editBannerr" method="post" enctype="multipart/form-data">

                            <div class="col-lg-3 col-md-6 rounded-image-preview">
                                <label for="imageInput4" class="image-label">
                                    <div class="rounded-image-preview">
                                        <img id="imagePreview4"
                                            src="/banner/<%=bannerData?.image%>"
                                            alt="Preview" />
                                    </div>
                                    <input name="image" type="file" accept="image/*" id="imageInput4" class="imageInput"
                                        required>
                                </label>
                            </div>
                            <input type="hidden" value="<%=bannerData?._id%>" name="banerId">
                            <div class="form-group">
                                <label for="exampleInputName1">Title</label>
                                <input value="<%=bannerData?.title%>" type="text" class="form-control" name="title"
                                    placeholder="Title" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Discription</label>
                                <input value="<%=bannerData?.description%>" type="text" class="form-control"
                                    name="description" placeholder="Discription" />
                            </div>

                            <button onclick="editBannerr()" class="btn btn-primary">
                                edit
                            </button>

                            <button type="button" onclick="window.location.href='banner'" class="btn btn-danger">
                                cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateImagePreview(inputElement, imagePreviewId) {
                var imagePreview = $("#" + imagePreviewId);
                var file = inputElement.files[0];

                if (file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        imagePreview.attr("src", e.target.result);
                    };

                    reader.readAsDataURL(file);
                } else {
                    
                    imagePreview.attr("src", "/admin/assets/images/1000_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg");
                }
            }

            // Event handler for image input change
            $(".imageInput").change(function () {
                var input = this;
                var imagePreviewId = $(input).closest('.rounded-image-preview').find('img').attr('id');
                updateImagePreview(input, imagePreviewId);
            });
        });


        function editBannerr() {
            const formData = new FormData(document.getElementById("editBannerr"));
            
            console.log("fetch is workign")
            fetch("/admin/edit-banner", {
                method: "POST",
                body: formData,
            })

                .then((response) => {
                    if (!response.ok) {
                        console.log(response.status)
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then((response) => {
                    if (response.success==true) {
                        window.location.href = '/admin/banner';
                    } else {
                        document.getElementById("error-message").innerHTML = response.errorMessage;
                    }
                })

                .catch((error) => {
                    console.log(error)
                });
                
        }

    </script>




    <%- include('../partials/adminfooter') %>