<%- include('../partials/adminheadder') %>
    <style>
        .canceled-box {
            width: 75px;
            height: 25px;
            background-color: #f8d7da;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f5c6cb;
            color: #721c24;
            font-weight: bold;
        }
    </style>
    <div class="content-wrapper">
        <div class="page-header">

            <h2>fgf</h2>
        </div>


        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sales Report</h4>
                        <div style="display: flex; gap: 5px; flex-wrap: wrap;">
                            <div class="dropdown show">

                                <a class="btn btn-outline-primary dropdown-toggle" style="color: white;" href="#"
                                    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Filter
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/admin/sales-sort?time=1">Daily</a>
                                    <a class="dropdown-item" href="/admin/sales-sort?time=7">Weekly</a>
                                    <a class="dropdown-item" href="/admin/sales-sort?time=30">Monthly</a>
                                    <a class="dropdown-item" href="/admin/sales-sort?time=365">Yearly</a>
                                    <button type="button" class="btn btn" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        custom
                                    </button>

                                </div>
                            </div>
                            <a href="/admin/sales-download?time=<%=printTime%>&to=<%=todate%>"><button type="button"
                                    class="btn btn-primary">download</button></a>
                        </div>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th> No </th>
                                        <th> Order Id </th>
                                        <th> Oreder Date </th>
                                        <th> Quantity</th>
                                        <th> Amount </th>
                                        <th> Customer</th>

                                    </tr>
                                </thead>
                                <tbody id="table">
                                    <% if (orders.length>0) { %>
                                        <% for (let i=0; i < orders.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%=i+1%>
                                                </td>
                                                <td>
                                                    <%=orders[i].uniqueId%>
                                                </td>
                                                <td>
                                                    <%= typeof orders[i].deliveryDate==='string' ?
                                                        orders[i].deliveryDate.slice(0, 10) :
                                                        orders[i].deliveryDate.toISOString().slice(0, 10) %>
                                                </td>

                                                <td>
                                                    <%=orders[i].products.quantity%>
                                                </td>

                                                <td>
                                                    <%=orders[i].totalAmount%>
                                                </td>
                                                <td>
                                                    <%=orders[i].userName%>
                                                </td>


                                            </tr>
                                            <% } %>

                                                <% } else { %>

                                                    <tr>
                                                        <td colspan="9" style="text-align: center;">Product not found
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% for (let i=1; i <=totalPages; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
              </ul>
            </nav>
          </div>


    </div>

    <!-- modal for custom report -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Custom sales Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="date" style="width: 100%;" id="formdate" required>
                    <br>
                    <hr>
                    <input type="date" style="width: 100%;" id="todate" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="customReport()" class="btn btn-primary">submit</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function customReport() {
            console.log('workign');
            const from = document.getElementById('formdate').value;
            const to = document.getElementById('todate').value;

            console.log("why");
            const url = `/admin/sales-sort?from=${encodeURIComponent(from)}&to=${encodeURIComponent(to)}`;

            // Navigate to the URL
            window.location.href = url;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <%- include('../partials/adminfooter') %>